.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p{
    font-family: 'Poppins', sans-serif;
    color: #4a3e3e;
    font-weight: 600;
}
.desc{ 
    font-size: 2.5vmax;
    margin: 30px;
}

.input-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 65vw;
}

.customSelectField {
    width: 30vmax;
    background-color: #ffdecb;
}

.customSelectField .MuiSvgIcon-root{
    color: rgb(225 44 44 / 54%);
}

.MuiList-root{
    background-color: #ffe6d5;
}

.MuiList-root .MuiButtonBase-root{
    font-family: 'Poppins', sans-serif;
}

.MuiFormControl-root .MuiInputBase-root{
    font-family: 'Poppins', sans-serif;
}

.output-box{
    background-color: #fefefe;
    width: 65vw;
    min-height: 300px;
    border: 4px solid #FBA1B7;
    border-radius: 10px;
    margin: 45px;
}

.gift-ideas{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.5vmax;
}
  